html,body{
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
}
.panel-faq-container{}
.panel-faq-title{}
.panel-faq-answer{
    /*padding: 15px;
    display: none;*/
    height: 0px;
    overflow: hidden;
    transition: all 2.35s;

}
#btn-all-close{}
#btn-all-close:hover{
    background-color: yellow;
    color: #0000;
    transition: all 3.35s;
}
.active{
    display: block;
    height: 300px;
}